.container.app{
  background-image: url("../images/Application\ bg.avif");
  background-position: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
}