.prosperos {
  background-image: url("../images/App\ bg.jpg");
}
.app-btn {
  background-color: rgb(155, 116, 99);
  border-color: rgb(155, 116, 99);
  border-radius: 0%;
  height: 55px;
  width: 145px;
  color: rgb(53, 38, 38);
}
.app-btn:hover {
  background-color: aliceblue;
  color: rgb(155, 116, 99);
}
.logo{
  align-items: center;
}
.coffe-city{
  background-image: url("../images/home-1-s-slider-1.jpg");
  height: 100%;
  width: 98vh;
}
.paper-price{
  color: rgb(255, 234, 177);
}