.footer-backgroud {
  background-image: url("https://images.creativemarket.com/0.1.0/ps/1236850/1360/905/m1/fpnw/wm1/us3zhznzjesrkuexupcb85cond3xkppihidjwi9gthyptfl7ejixajkxbbi3gsrx-.jpg?1462362194&s=4e2da9b68478cb9d744b4a31c95a1a86"); 
}
.my-line {
  width: 100%;
}
.input-group{
  width: 80%;
  border-radius: 0%;
  border-color: black;
  border-style: bold;
}
.my-line4{
  width: 80%;
}